<div class="psrow row">
    <div class="col">
      {{ps.tickers}}
    </div>
    <div class="col">
      {{ps.capital | currency:"INR"}}
    </div>
    <div class="col">
      {{ps.risk}}
    </div>
    <div class="col">
       <input type="number" value = "ps.entryprice">
    </div>
    <div class="col">
      <input type="number" value = 'ps.stoploss'>
    </div>
    <div class="col">
        {{ps.exit}}
    </div>
    <div class="col">
        {{ps.riskreward}}
    </div>
    <div class="col">
        {{ps.shares}}
    </div>
    <div class="col">
        {{ps.total}}
    </div>
    <div class="col">
        {{ps.newcapital}}
    </div>
  </div>