<div class="psrow row">
  <div class="col-lg">
    {{ ps.tickers }}
  </div>
  <div class="col-lg">
    {{ ps.capital | currency: "INR" }}
  </div>
  <div class="col-lg">
    {{ ps.risk | currency: "INR" }}
  </div>
  <div class="col-lg">
    <input
      class="form-control input-sm"
      type="number"
      value="ps.entryprice"
      (change)="updateEntryPrice($event)"
    />
  </div>
  <div class="col-lg">
    <input
      class="form-control input-sm"
      type="number"
      value="ps.stoploss"
      (change)="updateStopLoss($event)"
    />
  </div>
  <div class="col-lg">
    {{ ps.exit | currency: "INR" }}
  </div>
  <div class="col-lg">
    {{ ps.riskreward }}
  </div>
  <div class="col-lg">
    {{ ps.shares }}
  </div>
  <div class="col-lg">
    {{ ps.total | currency: "INR" }}
  </div>
  <div class="col-lg">
    <button mat-icon-button (click)="sendHoldings()">
      <mat-icon aria-label="buy" matTooltip="Buy">trending_up</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon aria-label="sell" matTooltip="Sell">trending_down</mat-icon>
    </button>
  </div>
  <div class="col-lg">
    <button mat-icon-button color="warn" matTooltip="Delete Row" (click)="sendDelete()">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
</div>
