<div class="row">
    <div class="col">
      tickers}}
    </div>
    <div class="col">
      capital.value | currency:"INR"}}
    </div>
    <div class="col">
      risk}}
    </div>
    <div class="col">
      21<!-- <input type="number" [formControl] = 'entryprice'>  -->
    </div>
    <div class="col">
      11<!-- <input type="number" [formControl] = 'stoploss'> -->
    </div>
    <div class="col">
        exit}}
    </div>
    <div class="col">
        riskreward}}
    </div>
    <div class="col">
        shares}}
    </div>
    <div class="col">
        total}}
    </div>
    <div class="col">
        newcapital
    </div>
  </div>