<div class="container">
    <label>Enter Capital</label>
    <input type="number" [formControl]="capital" />

    <i class="add bi bi-plus-circle-fill" (click)="addRow()"></i>
    <br><br>
    
  <div class="container">
    <div class="row">
      <div class="col">
        Ticker
      </div>
      <div class="col">
        Capital
      </div>
      <div class="col">
        Risk
      </div>
      <div class="col">
        Entry Price
      </div>
      <div class="col">
        Stop Loss
      </div>
      <div class="col">
        Exit
      </div>
      <div class="col">
        Risk Reward Ratio
      </div>
      <div class="col">
        Total Number Of Shares
      </div>
      <div class="col">
        Total Amount
      </div>
      <div class="col">
        New Capital
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{tickers}}
      </div>
      <div class="col">
        {{capital.value | currency:"INR"}}
      </div>
      <div class="col">
        {{risk}}
      </div>
      <div class="col">
        <input type="number" [formControl] = 'entryprice'> 
      </div>
      <div class="col">
        <input type="number" [formControl] = 'stoploss'>
      </div>
      <div class="col">
          {{exit}}
      </div>
      <div class="col">
          {{riskreward}}
      </div>
      <div class="col">
          {{shares}}
      </div>
      <div class="col">
          {{total}}
      </div>
      <div class="col">
          {{newcapital}}
      </div>
    </div>

    <br><br>
    <app-psrow *ngFor="let row of rows" [ps] = "row"></app-psrow>

    <br>
    <button (click)="calculate()">CALCULATE</button>
      
</div>